<div *ngIf = "products">
    <div *ngFor = "let p of products">
        <span> Nombre:  {{p.nombre}} | </span>
        <span> Precio: {{p.precio}} | </span>
        <span> Stock: {{p.stock}} | </span>
    </div>

    <div class="register">
        <form class="product-form" [formGroup]="productForm" (ngSubmit)="registrarProducto()">
            <h1>Registra Producto</h1>
            <div>
                <mat-form-field appearance="fill">
                    <mat-label> ID </mat-label>
                    <input formControlName="id" matInput>
                </mat-form-field>
                <mat-form-field>
                    <mat-label> Nombre</mat-label>
                    <input formControlName="nombre" matInput>
                </mat-form-field>
                <mat-form-field>
                    <mat-label> Precio</mat-label>
                    <input formControlName="precio" matInput>
                </mat-form-field>
                <mat-form-field>
                    <mat-label> Stock </mat-label>
                    <input formControlName="stock" matInput>
                </mat-form-field>
                <mat-form-field>
                    <mat-label> Categoria</mat-label>
                    <input formControlName="categoriaid" matInput>
                </mat-form-field>
            </div>
        </form>
        <div class="text-right">
            <button (click)='registrarProducto()' type="submit" mat-button color="primary"
                [disabled]="!productForm.valid"> Registrar </button>
        </div>
    </div>

</div>