<div class="body">
    <div class="register">
        <h1 class="h3 mb-3 fw.normal"> Register </h1>
        <mat-form-field>
            <input matInput placeholder="User" [(ngModel)] = "user">
        </mat-form-field>
        <mat-form-field>
            <input matInput placeholder="E-Mail" [(ngModel)] = "email">
        </mat-form-field>
        <mat-form-field>
            <input matInput placeholder="Password" [(ngModel)] = "password">
        </mat-form-field>
        <mat-form-field>
            <input matInput placeholder="Confirm Password" [(ngModel)] = "confirmpassword">
        </mat-form-field>
        <br>
        <mat-label>
            Pick your User Type
        </mat-label>
        <mat-radio-group aria-label="Select and Option" class="radio-group" [(ngModel)] = "userType">
            <mat-radio-button class="radio-button" *ngFor= 'let usertype of usertypes' [value] = 'usertype' (change) = 'rbuttonChange()'>
                {{usertype}}
            </mat-radio-button>
        </mat-radio-group>
        <br>
        <button (click)='register()' class="ancho" mat-raised-button mat-button color="primary">
            Registrar
        </button>
    </div>
</div>
