<div class="container">
    <div class="row">
        <div class="col-md-4" *ngFor="let producto of productos">
            <mat-card class="card-theme">
                <mat-card-header>
                </mat-card-header>
                <mat-card-content>
                    <mat-card-title>{{producto.nombre}}</mat-card-title>
                    <mat-card-subtitle>Categoria: {{producto.categoriaid}}</mat-card-subtitle>
                    <mat-card-subtitle>Tienda: {{producto.Tienda_producto}}</mat-card-subtitle>
                </mat-card-content>
            </mat-card>
            <mat-card-actions>
                <button >Agregar al carrito</button>
                <button mat-button [routerLink]="['/compra', producto.id]">Comprar</button> 
            </mat-card-actions>
        </div>
    </div>
</div>