<body>
    <section class="ftco-section">
        <div class="container">
            <div class="row justify-content-center">
				<div class="col-md-12 col-lg-10">
                    <div class="wrap d-md-flex">
                        <div class="text-wrap p-4 p-lg-5 text-center d-flex align-items-center order-md-last">
                            <div class="text w-100">
                                <h2> Welcome The Llama Llama Web</h2>
                                <p>Don't have an account?</p>
                                <a href="/register" class="btn btn-white btn-outline-white"> Sign Up</a>
                            </div>
                        </div>
                        <div class="login-wrap p-4 p-lg-5">
                            <div class="d-flex">
                                <div class="w-100">
                                    <h1 class="mb-4">Login</h1>
                                </div>
                            </div>
                            <form class="signin-form" [formGroup]="loginUserForm" (ngSubmit) = "loginUser()">
                                <div class="form-group mb-3">
                                        <label class="label" for="usuario" >Usuario</label>
                                        <input type="text" formControlName="usuario" placeholder="Ingresa tu Usuario" class="form-control">
                                </div>
                                <div class="form-group mb-3">
                                        <label class="label" for="password">Password</label>
                                        <input type="password" formControlName="password" placeholder="Password" class="form-control">
                                </div>
                                <div class="form-group">
                                    <button type="submit" class="form-control btn btn-primary submit px-3" [disabled]="!loginUserForm.valid">
                                        Sign In
                                    </button>
                                </div>
                                <div class="form-group d-md-flex">
                                    <div class="w-50 text-md-right">
                                        <a href="#">Forgot Password?</a>
                                    </div>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
</body>
